<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Frame Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 text-center><U>Your choice </U></h2>
  <h4 text-center *ngIf="selectedItem">Brand : 
    {{selectedItem.brand}}
  </h4>
  <h4 text-center *ngIf="selectedItem">Model : 
      {{selectedItem.model}}
  </h4>
  <h4 text-center *ngIf="selectedItem">Size : 
      {{selectedItem.size}}
  </h4>
  <h4 text-center *ngIf="selectedItem">Thickness : 
      {{selectedItem.thickness}}
  </h4>
  <h4 text-center *ngIf="selectedItem">Weight : 
      {{selectedItem.weight}}
  </h4>
  <img src="{{selectedItem.image}}" class="imageDetail">
  <button ion-button round class="buttonAdd">Add to my configuration</button>
</ion-content>
